ul a{
  padding: 0;
  list-style-type: none;
}

ul a:hover {
  text-decoration: none;
  display: block;
  color: black;
  background-color: red;
  padding: 5px;
  margin-bottom: 10px;
}

h1+p{
  color: red;
  background-color: black;
}

 {
  font-style: bold;
  color: blue;
}